/app/config/dev/config.yml
/app/config/test/config.yml
/app/config/prod/config.yml
/app/bootstrap.php.cache

/build/

/phpunit.xml

/var/*
!/var/.gitkeep
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

/vendor/

/web/bundles/
/web/upload/

/composer.phar
/composer.lock

/.idea
/.project

*DS_Store

*.swp
*.swo
*.swn

